h1 {
  color: orange;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#subheader {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#favouriteBand {
  color: green;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

#firstBlock {
  border: 2px solid black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  }

#listItems {
  list-style: none; 
  padding: 0;
  margin: 0; 
  margin-left: 20px;
 }

#firstListItem {
  font-style: italic;
  text-decoration: underline;
  padding: 0;
  margin-top: 0;
  margin: 0;
}

#favouriteBooks {
  color: pink;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

#thirdBlock {
  border: 2px solid black;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  }

#booklistItems {
  list-style: armenian; 
  padding: 0;
  margin: 0; 
  margin-left: 20px;
 }

#thirdListItem {
  font-style:normal;

  
h1 {
  color: orange;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#subheader {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#favouriteMovie {
  color: red;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  padding: 0;
}

#secondBlock {
  border: 2px solid black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  }

#secondList {
  list-style: none; 
  padding: 0;
  margin: 0; 
  margin-left: 40px;
 }

#secondListItem {
  font-style: oblique;
  text-decoration: underline;
  padding: 0;
  margin-top: 0;
  margin: 0;
}